<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ValueVerse</title>
        <link href="static/stylesmod.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="header">
            <nav id="navbar">
                <a href="/"><img id="logomod" src="static/valueverse.png" class="logo" alt="logo of the website"></a>
                <ul id="menu">
                    <li class="active"><a href="/">HOME</a></li>
                    <li><a href="../models">MODELS</a></li>
                    <li><a href="../contact">CONTACT</a></li>
                    <li><a href="../support">SUPPORT</a></li>
                </ul>
            </nav>
        </div>
        
        <div class="wrap-container">
            <div class="container" id="calculator">
                <h1 class="text-center mt-5">Enterprise DCF Calculator</h1>
                <p class="text-center">Enter the following data to calculate the company's value:</p>
                <form id="dcf-form" class="row g-3 justify-content-center" method="POST" action="/dcf">
                    <div class="col-md-6">
                        <label for="free-cash-flow" class="form-label">Free Cash Flow:</label>
                        <input type="number" step="0.01" class="form-control" id="free-cash-flow" name="free-cash-flow" required>
                    </div>
                    <div class="col-md-6">
                        <label for="discount-rate" class="form-label">Discount Rate (%):</label>
                        <input type="number" step="0.01" class="form-control" id="discount-rate" name="discount-rate" required>
                    </div>
                    <div class="col-md-6">
                        <label for="terminal-growth-rate" class="form-label">Terminal Growth Rate (%):</label>
                        <input type="number" step="0.01" class="form-control" id="terminal-growth-rate" name="terminal-growth-rate" required>
                    </div>
                    <div class="col-md-6">
                        <label for="terminal-multiple" class="form-label">Terminal Multiple:</label>
                        <input type="number" step="0.01" class="form-control" id="terminal-multiple" name="terminal-multiple" required>
                    </div>
                    <div class="col-12 text-center mt-3">
                        <button type="submit" step="0.01" class="btn btn-primary" id="calculate-btn">Calculate</button>
                    </div>
                </form>
                <div id="result" class="enterprise_value"></div>
            </div>
        </div>
        <div class="container">
            <div class="value-tips">
                <h2>Definitions</h2>
                
                <ul>
                  <li><strong>Free Cash Flow:</strong> the cash generated by the company after accounting for capital expenditures. Make sure to provide it on a per share basis.</li>
                  <li><strong>Discount Rate:</strong> used to convert future cash flows into their present value, reflecting the time value of money and the risk associated with the company’s cash flows. This rate represents the required rate of return that an investor expects, considering the risk of investing in the company. Make sure to enter an appropriate discount rate that aligns with the company’s risk profile. For most companies, this will typically range between 8% and 12%. A higher discount rate is used for riskier companies, while a lower rate is more appropriate for stable, lower-risk companies. This rate is often derived using the Capital Asset Pricing Model (CAPM).</li>
                  <li><strong>Terminal Growth Rate:</strong> the company’s expected long-term growth rate after the forecasted period. Usually, a conservative and realistic estimate for the long-term growth rate, ranging from 2% to 4%, is preferred to avoid overvaluing the company.</li>
                  <li><strong>Terminal Multiple:</strong> reflects the company’s expected valuation in the market after the forecast period. A typical range is between 10x to 20x.</li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="description">
              <h1>Enterprise Discounted Cash Flow (DCF)</h1>
              <p><strong>Enterprise Discounted Cash Flow (DCF)</strong> is a widely-used valuation method that estimates the intrinsic value of a company by forecasting its future cash flows and discounting them back to their present value. This method is rooted in the principle that the value of a business is inherently linked to the cash it can generate over time.</p>
            </div>

            <div class="usage">
              <h2>When to use DCF</h2>
              <p>DCF is particularly effective when evaluating companies with relatively stable and predictable cash flows. It is most commonly applied to mature businesses with a track record of consistent earnings and growth. This model is ideal for situations where you can reasonably forecast future performance.</p>
            </div>

            <div class="cautions">
              <h2>Cautions and Limitations</h2>
              <p>While DCF is a powerful valuation tool, it's important to be aware of its limitations:</p>
              <ul>
                <li><strong>Assumption Sensitivity:</strong> The accuracy of a DCF valuation is highly dependent on the assumptions made about future cash flows, discount rates, and growth rates. Small adjustments in these inputs can lead to significant variations in the valuation outcome.</li>
                <li><strong>Constant Growth Rate:</strong> DCF often assumes a steady growth rate, which may not accurately reflect the realities of businesses that experience variable growth phases.</li>
                <li><strong>Applicability to High-Growth Firms:</strong> For young, rapidly expanding companies with unpredictable cash flows, the DCF model may be less reliable due to the difficulty in making accurate long-term forecasts.</li>
              </ul>
            </div>
        </div>

        <script>
            var navbar = document.getElementById("navbar");
            var menu = document.getElementById("menu");
            var logoImage = document.getElementById("logomod");

            window.onscroll = function(){
                if(window.pageYOffset >= menu.offsetTop){
                    navbar.classList.add("sticky");
                    logoImage.src="static/small-logo.png"
                    logoImage.style.width="45px";
                    logoImage.style.height="45px";
                }
                else{
                    navbar.classList.remove("sticky");
                    logoImage.src="static/valueverse.png";
                    logoImage.style.width="150px";
                    logoImage.style.height="33.2px";
                }
            }

            $(function() {
                $('form').submit(function(event) {
                    event.preventDefault();  // Prevent form submission
                    $.ajax({
                    url: '/dcf',
                    type: 'POST',
                    data: $('form').serialize(),
                    dataType: 'json',  // Set data type to JSON
                    success: function(response) {
                        console.log(response);  // Debugging statement
                        $('#result').text(response.enterprise_value);  // Update result on page
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                    }
                    });
                });
            });
        </script>
    </body>
</html>

